---
 hostPort: "{{ zk_prometheus_pull_zk_server_jmx_host }}:{{ zk_prometheus_pull_zk_server_jmx_port }}"
 lowercaseOutputName: true
 lowercaseOutputLabelNames: true
 rules:
   - pattern: "^org.apache.ZooKeeperService<name0=ReplicatedServer_id(\\d+)><>QuorumSize:"
     name: zookeeper_quorum_size
     help: "Zookeeper quorum size"
     type: GAUGE
     labels: 
        server_id: $1

   - pattern: "^org.apache.ZooKeeperService<name0=ReplicatedServer_id(\\d+), name1=replica.\\1><>ConfigVersion:"
     name: zookeeper_config_version
     help: "Zookeeper dynamic config version"
     type: GAUGE
     labels: 
        server_id: $1

   - pattern: "^org.apache.ZooKeeperService<name0=ReplicatedServer_id(\\d+), name1=replica.\\1, name2=(Follower|Leader)><>AvgRequestLatency:"
     name: zookeeper_avg_latency
     help: "Zookeeper node average request latency(ms)"
     type: GAUGE
     labels: 
        server_id: $1
        role: $2

   - pattern: "^org.apache.ZooKeeperService<name0=ReplicatedServer_id(\\d+), name1=replica.\\1, name2=(Follower|Leader)><>MaxRequestLatency:"
     name: zookeeper_max_latency
     help: "Zookeeper node max request latency(ms)"
     type: GAUGE
     labels: 
        server_id: $1
        role: $2

   - pattern: "^org.apache.ZooKeeperService<name0=ReplicatedServer_id(\\d+), name1=replica.\\1, name2=(Follower|Leader)><>MinRequestLatency:"
     name: zookeeper_min_latency
     help: "Zookeeper node min session timeout(ms)"
     type: GAUGE
     labels: 
        server_id: $1
        role: $2

   - pattern: "^org.apache.ZooKeeperService<name0=ReplicatedServer_id(\\d+), name1=replica.\\1, name2=(Follower|Leader)><>NumAliveConnections:"
     name: zookeeper_alive_connections
     help: "Zookeeper node current alive client connections"
     type: GAUGE
     labels: 
        server_id: $1

   - pattern: "^org.apache.ZooKeeperService<name0=ReplicatedServer_id(\\d+), name1=replica.\\1, name2=(Follower|Leader)><>OutstandingRequests:"
     name: zookeeper_outstanding_requests
     help: "Zookeeper node outstanding requests number"
     type: GAUGE
     labels: 
        server_id: $1

   - pattern: "^org.apache.ZooKeeperService<name0=ReplicatedServer_id(\\d+), name1=replica.\\1, name2=(Follower|Leader)><>PacketsReceived:"
     name: zookeeper_packet_received
     help: "Count of received request packets by Zookeeper node"
     type: COUNTER
     labels: 
        server_id: $1

   - pattern: "^org.apache.ZooKeeperService<name0=ReplicatedServer_id(\\d+), name1=replica.\\1, name2=(Follower|Leader)><>PacketsSent:"
     name: zookeeper_packet_sent
     help: "Count of sent packets by Zookeeper node"
     type: COUNTER
     labels: 
        server_id: $1

   - pattern: "^org.apache.ZooKeeperService<name0=ReplicatedServer_id(\\d+), name1=replica.\\1, name2=(Follower|Leader), name1=InMemoryDataTree><>NodeCount:"
     name: zookeeper_data_tree_node_count
     help: "Count of nodes in Zookeeper instance"
     type: GAUGE
     labels: 
        server_id: $1

   - pattern: "^org.apache.ZooKeeperService<name0=ReplicatedServer_id(\\d+), name1=replica.\\1, name2=(Follower|Leader), name1=InMemoryDataTree><>WatchCount:"
     name: zookeeper_data_tree_watchers_count
     help: "Count of nodes in Zookeeper instance"
     type: GAUGE
     labels: 
        server_id: $1

   - pattern: "^org.apache.ZooKeeperService<name0=StandaloneServer_port(\\d+)><>AvgRequestLatency:"
     name: standalone_zookeeper_avg_latency
     help: "Zookeeper node average request latency(ms)"
     type: GAUGE
     labels: 
        server_id: $1

   - pattern: "^org.apache.ZooKeeperService<name0=StandaloneServer_port(\\d+)><>MaxRequestLatency:"
     name: standalone_zookeeper_max_latency
     help: "Zookeeper node max request latency(ms)"
     type: GAUGE
     labels: 
        server_id: $1

   - pattern: "^org.apache.ZooKeeperService<name0=StandaloneServer_port(\\d+)><>MinRequestLatency:"
     name: standalone_zookeeper_min_latency
     help: "Zookeeper node min session timeout(ms)"
     type: GAUGE
     labels: 
        server_id: $1

   - pattern: "^org.apache.ZooKeeperService<name0=StandaloneServer_port(\\d+)><>NumAliveConnections:"
     name: standalone_zookeeper_alive_connections
     help: "Zookeeper node current alive client connections"
     type: GAUGE
     labels: 
        server_id: $1

   - pattern: "^org.apache.ZooKeeperService<name0=StandaloneServer_port(\\d+)><>OutstandingRequests:"
     name: standalone_zookeeper_outstanding_requests
     help: "Zookeeper node outstanding requests number"
     type: GAUGE
     labels: 
        server_id: $1

   - pattern: "^org.apache.ZooKeeperService<name0=StandaloneServer_port(\\d+)><>PacketsReceived:"
     name: standalone_zookeeper_packet_received
     help: "Count of received request packets by Zookeeper node"
     type: COUNTER
     labels: 
        server_id: $1

   - pattern: "^org.apache.ZooKeeperService<name0=StandaloneServer_port(\\d+)><>PacketsSent:"
     name: standalone_zookeeper_packet_sent
     help: "Count of sent packets by Zookeeper node"
     type: COUNTER
     labels: 
        server_id: $1

   - pattern: "^org.apache.ZooKeeperService<name0=StandaloneServer_port(\\d+), name1=InMemoryDataTree><>NodeCount:"
     name: standalone_zookeeper_data_tree_node_count
     help: "Count of nodes in Zookeeper instance"
     type: GAUGE
     labels: 
        server_id: $1

   - pattern: "^org.apache.ZooKeeperService<name0=StandaloneServer_port(\\d+), name1=InMemoryDataTree><>WatchCount:"
     name: standalone_zookeeper_data_tree_watchers_count
     help: "Count of nodes in Zookeeper instance"
     type: GAUGE
     labels: 
        server_id: $1
