dataDir={{ zk_cfg_data_dir }}
tickTime={{ cfg_tick_time }}
dataLogDir={{ cfg_data_log_dir }}
globalOutstandingLimit={{ cfg_global_outstanding_limit }}
preAllocSize={{ cfg_prealloc_size }}
snapCount={{ cfg_snap_count }}
maxClientCnxns={{ cfg_max_client_connections }}
minSessionTimeout={{ cfg_min_session_timeout }}
maxSessionTimeout={{ cfg_max_session_timeout }}
autopurge.snapRetainCount={{ cfg_autopurge_snap_retain_count }}
autopurge.purgeInterval={{ cfg_autopurge_interval }}
syncEnabled={{ cfg_sync_enabled }}
electionAlg={{ cfg_election_algorithm }}
leaderServes={{ cfg_leader_serves_clients }}
initLimit={{ cfg_init_limit }}
syncLimit={{ cfg_sync_limit }}
cnxTimeout={{ cfg_cnx_timeout }}
standaloneEnabled={{ cfg_standalone }}
forceSync={{ cfg_force_sync }}
skipACL={{ cfg_skip_acl }}
quorumListenOnAllIPs={{ cfg_quorum_listen_on_all_ip }}
zookeeper.nio.numSelectorThreads={{ cfg_nio_selector_threads }}
zookeeper.nio.numWorkerThreads={{ cfg_nio_worker_threads }}
zookeeper.commitProcessor.numWorkerThreads={{ cfg_commitprocessor_worker_threads }}
admin.enableServer={{ cfg_admin_server }}
admin.serverAddress={{ cfg_admin_server_address }}
admin.serverPort={{ cfg_admin_server_port }}
admin.commandURL={{ cfg_admin_url }}
dynamicConfigFile={{ zk_cfg_dynamic_config_file }}