{% if zk_cluster_hosts is defined and zk_cluster_hosts %}
{% for host in zk_cluster_hosts %}
{% if host.zk_server_id is defined%}
{% set server_id = host.zk_server_id %} 
{% else %}
{% set server_id = loop.index %} 
{% endif %}
{% set quorum_host = host.quorum_bind_address %}
{% if host.master_port is defined and host.master_port %}
{% set master_port = host.master_port %}
{% elif cfg_master_port is defined and cfg_master_port %}
{% set master_port = cfg_master_port %}
{% else %}
{% set master_port = 2182 %}
{% endif %}
{% if host.election_port is defined and host.election_port %}
{% set election_port = host.election_port %}
{% elif cfg_election_port is defined and cfg_election_port %}
{% set election_port = cfg_election_port %}
{% else %}
{% set election_port = 2183 %}
{% endif %}
{% if host.server_role is defined and host.server_role %}
{% set server_role = host.server_role %}
{% elif cfg_server_role is defined and cfg_server_role %}
{% set server_role = cfg_server_role %}
{% else %}
{% set server_role = 'participant' %}
{% endif %}
{% if host.client_bind_address is defined and host.client_bind_address %}
{% set client_bind_address = host.client_bind_address %}
{% else %}
{% set client_bind_address = '0.0.0.0' %}
{% endif %}
{% if host.client_port is defined and host.client_port %}
{% set client_port = host.client_port %}
{% elif zk_cfg_client_port is defined and zk_cfg_client_port %}
{% set client_port = zk_cfg_client_port %}
{% else %}
{% set client_port = 2181 %}
{% endif %}
server.{{ server_id }} = {{ quorum_host }}:{{ master_port }}:{{ election_port }}:{{ server_role }};{{ client_bind_address }}:{{ client_port }}
{% endfor %}
{% else %}
{% for host in play_hosts %}
{% if hostvars[host]['zk_server_id'] is defined%}
{% set server_id = hostvars[host]['zk_server_id'] %} 
{% elif zk_server_id is defined %}
{% set server_id = zk_server_id %} 
{% else %}
{% set server_id = loop.index %} 
{% endif %}
{% if hostvars[host]['cfg_quorum_bind_address'] is defined and hostvars[host]['cfg_quorum_bind_address'] %}
{% set quorum_host = hostvars[host]['cfg_quorum_bind_address'] %}
{% elif cfg_auto_bind_address == "default_ipv4" %}
{% set quorum_host = hostvars[host]['ansible_default_ipv4']['address'] %}
{% elif cfg_auto_bind_address == "ansible_nodename" %}
{% set quorum_host = hostvars[host]['ansible_nodename'] %}
{% elif cfg_auto_bind_address == "ansible_host" %}
{% set quorum_host = hostvars[host]['ansible_host'] %}
{% else %}
{% set quorum_host = host %}
{% endif %}
{% if hostvars[host]['cfg_master_port'] is defined and hostvars[host]['cfg_master_port'] %}
{% set master_port = hostvars[host]['cfg_master_port'] %}
{% elif cfg_master_port is defined and cfg_master_port %}
{% set master_port = cfg_master_port %}
{% else %}
{% set master_port = 2182 %}
{% endif %}
{% if hostvars[host]['cfg_election_port'] is defined and hostvars[host]['cfg_election_port'] %}
{% set election_port = hostvars[host]['cfg_election_port'] %}
{% elif cfg_election_port is defined and cfg_election_port %}
{% set election_port = cfg_election_port %}
{% else %}
{% set election_port = 2183 %}
{% endif %}
{% if hostvars[host]['cfg_server_role'] is defined and hostvars[host]['cfg_server_role'] %}
{% set server_role = hostvars[host]['cfg_server_role'] %}
{% elif cfg_server_role is defined and cfg_server_role %}
{% set server_role = cfg_server_role %}
{% else %}
{% set server_role = 'participant' %}
{% endif %}
{% if hostvars[host]['cfg_client_bind_address'] is defined and hostvars[host]['cfg_client_bind_address'] %}
{% set client_bind_address = hostvars[host]['cfg_client_bind_address'] %}
{% elif cfg_auto_bind_address == "default_ipv4" %}
{% set client_bind_address = hostvars[host]['ansible_default_ipv4']['address'] %}
{% elif cfg_auto_bind_address == "ansible_nodename" %}
{% set client_bind_address = hostvars[host]['ansible_nodename'] %}
{% elif cfg_auto_bind_address == "ansible_host" %}
{% set client_bind_address = hostvars[host]['ansible_host'] %}
{% else %}
{% set client_bind_address = '0.0.0.0' %}
{% endif %}
{% if hostvars[host]['zk_cfg_client_port'] is defined and hostvars[host]['zk_cfg_client_port'] %}
{% set client_port = hostvars[host]['zk_cfg_client_port'] %}
{% elif zk_cfg_client_port is defined and zk_cfg_client_port %}
{% set client_port = zk_cfg_client_port %}
{% else %}
{% set client_port = 2181 %}
{% endif %}
server.{{ server_id }} = {{ quorum_host }}:{{ master_port }}:{{ election_port }}:{{ server_role }};{{ client_bind_address }}:{{ client_port }}
{% endfor %}
{% endif %}