{% if zk_cfg_sys_digest_auth_provider_superdigest is defined and zk_cfg_sys_digest_auth_provider_superdigest %}
{% set super_digest = "-Dzookeeper.DigestAuthenticationProvider.superDigest=" + zk_cfg_sys_digest_auth_provider_superdigest %}
{% endif %}
{% if zk_cfg_sys_fsync_threshold is defined and zk_cfg_sys_fsync_threshold %}
{% set fsync_threshold = "-Dfsync.warningthresholdms=" + zk_cfg_sys_fsync_threshold|string %}
{% endif %}
{% if zk_cfg_sys_readonly_mode is defined and zk_cfg_sys_readonly_mode %}
{% set readonly_mode = "-Dreadonlymode.enabled=" + zk_cfg_sys_readonly_mode %}
{% endif %}
{% if zk_cfg_sys_datadir_autocreate is defined and zk_cfg_sys_datadir_autocreate %}
{% set datadir_autocreate = "-Dzookeeper.datadir.autocreate=" + zk_cfg_sys_datadir_autocreate %}
{% endif %}
{% if zk_cfg_sys_jute_maxbuffer is defined and zk_cfg_sys_jute_maxbuffer %}
{% set jute_maxbuffer = "-Djute.maxbuffer=" + zk_cfg_sys_jute_maxbuffer %}
{% endif %}
{% if zk_cfg_sys_serverCnxnFactory is defined and zk_cfg_sys_serverCnxnFactory %}
{% set server_cnxn_factory = "-Dzookeeper.serverCnxnFactory=" + zk_cfg_sys_serverCnxnFactory %}
{% endif %}
{% if zk_server_logger_threshold is defined and zk_server_logger_threshold %}
{% set log_threshold = "-Dzookeeper.log.threshold=" + zk_server_logger_threshold %}
{% endif %}
{% if zk_server_logger_console_log_threshold is defined and zk_server_logger_console_log_threshold %}
{% set console_log_threshold = "-Dzookeeper.console.threshold=" + zk_server_logger_console_log_threshold %}
{% endif %}
{% if zk_server_logger_maxfilesize is defined and zk_server_logger_maxfilesize %}
{% set log_maxfilesize = "-Dzookeeper.log.maxfilesize=" + zk_server_logger_maxfilesize %}
{% endif %}
{% if zk_server_logger_maxbackupindex is defined and zk_server_logger_maxbackupindex %}
{% set log_maxbackupindex = "-Dzookeeper.log.maxbackupindex=" + zk_server_logger_maxbackupindex|string %}
{% endif %}

#ZNode container settings
{% if zk_cfg_znode_container_check_interval_ms is defined and zk_cfg_znode_container_check_interval_ms %}
{% set znode_container_check_interval = "-Dznode.container.checkIntervalMs=" + zk_cfg_znode_container_check_interval_ms|string %}
{% endif %}
{% if zk_cfg_znode_container_check_interval_ms is defined and zk_cfg_znode_container_check_interval_ms %}
{% set znode_container_max_per_minute = "-Dznode.container.maxPerMinute=" + zk_cfg_znode_container_max_per_minute|string %}
{% endif %}

#JMX Settings
{% if zk_server_jvm_jmx_enabled is defined and zk_server_jvm_jmx_enabled %}
{% if zk_server_jvm_jmx_remote_enabled is defined and zk_server_jvm_jmx_remote_enabled %}
JMXLOCALONLY=false
{% if zk_server_jmx_rmi_server_hostname is defined and zk_server_jmx_rmi_server_hostname %}
{% set rmi_server_hostname = "-Djava.rmi.server.hostname=" + zk_server_jmx_rmi_server_hostname %}
{% endif %}

{% if zk_server_jvm_jmx_port is defined and zk_server_jvm_jmx_port %}
JMXPORT={{ zk_server_jvm_jmx_port }}
{% set rmi_server_port = "-Dcom.sun.management.jmxremote.rmi.port=" + zk_server_jvm_jmx_port|string %}
{% endif %}

{% if zk_server_jvm_jmx_rmi_timeout is defined and zk_server_jvm_jmx_rmi_timeout %}
{% set rmi_timeout = "-Dsun.rmi.transport.tcp.responseTimeout=" + zk_server_jvm_jmx_rmi_timeout|string %} 
{% endif %}

{% if zk_server_jvm_jmx_auth is defined and zk_server_jvm_jmx_auth %}
JMXAUTH={{ zk_server_jvm_jmx_auth }}
{% endif %}

{% if zk_server_jvm_jmx_ssl is defined and zk_server_jvm_jmx_ssl %}
JMXSSL={{ zk_server_jvm_jmx_ssl | default("true") }}
{% endif %}

{% else %}
JMXLOCALONLY=true
{% endif %}
{% else %}
JMXDISABLE=true
{% endif %}

export zookeeper.serverCnxnFactory={{ server_cnxn_factory | default("") }}

ZK_SERVER_MIN_HEAP="{{ zk_server_jvm_min_memory }}"
ZK_SERVER_HEAP="{{ zk_server_jvm_max_memory }}" #ZK_SERVER_HEAP used in zkEnv.sh to set JVM max memory
SERVER_JVMFLAGS="$SERVER_JVMFLAGS \
                 -Xms${ZK_SERVER_MIN_HEAP}M \
                 {{ znode_container_check_interval | default("") }} \
                 {{ znode_container_max_per_minute | default("") }} \
                 {{ super_digest | default("") }} \
                 {{ fsync_threshold | default("") }} \
                 {{ readonly_mode | default("") }} \
                 {{ jute_maxbuffer | default("") }}  \
                 {{ datadir_autocreate | default("") }} \
                 {{ server_cnxn_factory | default("") }} \
                 {{ log_threshold | default("") }} \
                 {{ console_log_threshold | default("") }} \
                 {{ log_maxfilesize | default("") }} \
                 {{ log_maxbackupindex | default("") }} \
                 {{ rmi_server_hostname | default("") }} \
                 {{ rmi_server_port | default("") }} \
                 {{ rmi_timeout | default("") }} \
                 {{ zk_server_jvm_params | default("") }} \
                 {{ zk_server_jvm_diag_flags | default("") }} \
                 {{ zk_server_jvm_jit_flags | default("") }} \
                 {{ zk_server_jvm_gc_flags | default("") }} \
                 {{ zk_server_jvm_memory_flags | default("") }} \
                 {{ zk_server_jvm_perf_flags | default("") }}"

ZK_CLIENT_HEAP="{{zk_client_jvm_max_memory}}"
CLIENT_JVMFLAGS="$CLIENT_JVMFLAGS \
                 {{ console_log_threshold | default("") }} \
                 {{ zk_client_jvm_flags | default("") }}"

ZOO_LOG4J_PROP="{{ zk_server_logger_root_logger }}"
ZOO_LOG_DIR="{{ zk_log_dir }}"

USER="{{ zk_user }}"
ZOOCFGDIR={{ zk_conf_link_dir }}
