[Unit]
Description={{ zk_systemd_service_desc }}
After=network.service

[Service]
Type=simple
User={{ zk_user }}
Group={{ zk_group }}
PIDFile={{ zk_systemd_pid_file }}
ExecStart=/bin/bash {{ zk_bin_dir }}/bin/zkServer.sh start-foreground
ExecStop=/bin/kill $MAINPID
Restart={{ zk_systemd_restart_type }}

[Install]
WantedBy=multi-user.target